<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Todo list</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class='nav-wrapper'>
    <a class="brand-logo">
      <i class="fas fa-clipboard-list custom-logo"></i> Todo List</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% if g.user %}
          <li><span>Bienvenido <b>{{ g.user['username'] }}</b></span></li>
          <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
      {% else %}
          <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
          <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<ul id="mobile-demo" class="sidenav">
  {% if g.user %}
      <li class="center"><span>Bienvenido <b>{{ g.user['username'] }}</b></span></li>
      <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
  {% else %}
      <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
      <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
  {% endif %}
</ul>

<section class="content">
  <header>
      {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div> 
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='1.js') }}"></script>