{% extends 'base.html' %}

{% block header %}
<h3 class="center">{% block title %}Registro{% endblock %}</h3>
{% endblock %}

{% block content %}
<br/>
<div class="container center custom-width">
    <form method="post">
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input name="username" id="username" type="text" class="validate" required>
            <label for="username">Username</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input name="password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Registrarse
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}
